.RPTextForm {
  flex-wrap: wrap;
  background-color: #484b52;
  text-align: center;
  margin: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.RPTextForm-Area {
  font-size: calc(10px + 2vmin);
  color: #61dafb;
  text-align: center;
  margin-top:  5vh;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.RPTextForm-TextArea { 
  min-height: 20vh;
  min-width: 100vh;
  max-height: 100vh;
  max-width: 180vh;
}

.RPTextForm-Submit {
  font-size: calc(5px + 2vmin); 
  text-align: center;
  position: relative;  
  min-height: 0.5svh;
  margin-top:  5vh;
  margin-bottom: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
